.App {
  text-align: center;
}

header h1 {
  font-size: 1rem;
  margin-left: 20px;
}


.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}